<!DOCTYPE html>
<html>
  <head>
	<title>JAMES Coming Soon</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	
	<!-- Included Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100' rel='stylesheet' type='text/css'>
	
	<!-- CSS Files comes here -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
	<link href="css/grid12.css" rel="stylesheet" media="screen">                              	 <!-- Grid System -->
	<link href="css/james_typography.css" rel="stylesheet" media="screen">                       <!-- James Framework - TYPOGRAPHY -->
	<link href="css/main.css" rel="stylesheet" media="screen">                                   <!-- Main CSS file -->
	<link href="css/color_scheme_dark.css" rel="stylesheet" media="screen">                      <!-- Color scheme (dark/light)-->
	<link href="css/colors/color_palette_lime.css" rel="stylesheet" media="screen">              <!-- Color palette -->
	<link href="css/rapid-icons.css" rel="stylesheet" media="screen">                            <!-- James Framework - ICONS -->
	<link href="css/js_styles/jquery.maximage.min.css" rel="stylesheet" media="screen">          <!-- MaxImage background image slideshow -->
	<link href="css/responsivity.css" rel="stylesheet" media="screen">                           <!-- Responsive Fixes -->
	
	<!-- Modernizer and IE specyfic files -->  
	<script src="js/modernizr.custom.js"></script>	 
	<style type="text/css">
		.hero_fullscreen.background_solid{
			/*background-color: #afb42b;*/
			background-color: #F4C708;
		}
		.btn, .btn-large {
		    background-color: #cc2127;
		}
		a{
			color: #cc2127;
		}
		#main_content {
		    display: table;
		    overflow: hidden;
		    height: 50%;
		    margin-top: 2%;
		}
		.rotate-ticket{
			-ms-transform: rotate(-10deg); /* IE 9 */
		    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
		    transform: rotate(-10deg);
		}
	</style>  
  </head>
  
  <body>
	<div id="preloader_container">
	    
	    <!-- Preloader Screen -->
		<header class="preloader_header">	 
	        <div class="preloader_loader">
	            <svg class="preloader_inner" width="60px" height="60px" viewBox="0 0 80 80">
	                <path class="preloader_loader_circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
	                <path id="preloader_loader_circle" class="preloader_loader_circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
	            </svg>
	        </div>
	    </header>
	    <!-- //Preloader Screen -->
	
	
		<!-- Fullscreen homepage -->
		<section class="hero_fullscreen newsletter timer mockups background_solid"><!-- You can edit classes of this section to control the content that i displayed and backgrounds of this section, more info in documentation. -->
			
			
			<!-- Logo and navigation -->
		  	<div class="container top_bar" >
		  		<div class="row">
		  			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  			<img src="http://cl.ly/3B0Z2F1a3G1K/logo-v4.png" alt="logo" class="logo" style="width: 200px;"/>
		  			<span style="margin-left: 15px; position: absolute; bottom: 50px; font-size: 35px; color: #48494A; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 300;">
		  				MEIA ENTRADA PARA <span style="color: #cc2127;font-size: 38px; font-weight: bold;">TODOS</span>,
		  			</span>
		  			<span style="margin-left: 15px; position: absolute; bottom: 10px; font-size: 35px; color: #48494A; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 300;">
		  				SEM EXCEÇÃO
		  			</span>
		  			<nav class="navigation_desktop">
		  				<ul>
		  					<li><a href="#more_info" id="more_info_btn" class="btn-flat waves-effect waves-light" style="background-color:rgba(255, 255, 255, .3); font-size: 20px;">Mais informações</a></li>
		  				</ul>
		  			</nav>
		  			</div>
		  		</div>
			</div>
			<!-- //Logo and navigation -->
			
			
			<!-- Main content -->
		  	<div class="container align-left" id="main_content" style="padding-left: 6px;">
				<div class="content_container row" style="width: 100%">
				
					<div style="background-image: url('http://cl.ly/1H2G2l1C243M/explanation-v4.png'); min-height: 400px; background-repeat: no-repeat;"> </div>

					<div class="mdl-grid">
					  <div class="mdl-cell mdl-cell--6-col">
						<div class="mdl-grid">
						  <div class="mdl-cell mdl-cell--3-col"></div>
						  <div class="mdl-cell mdl-cell--6-col">
						  	<button class="btn waves-effect waves-light buy-buttom" type="submit" name="action" style="width: 100%; height: 60px; font-size: 22px;">EU QUERO!
						  	</button>
						  </div>
						  <div class="mdl-cell mdl-cell--3-col"></div>
						</div>
					  </div>
					  <div class="mdl-cell mdl-cell--6-col"></div>
					</div>

					<!-- <button class="btn waves-effect waves-light" type="submit" name="action">Send</button> -->


				    <!-- Headline (put class="headline" in Homepage section if you want slogan to be shown)-->
<!-- 					<h2 class="slogan">Our website is coming<br>really soon!</h2> -->
					
					
					<!-- Timer (put class="timer" in Homepage section if you want timer to be shown)-->
<!-- 					<div id="countdown" class="countdown">
						<div class="countdown_part first">
							<h1 class="days">00</h1>
							<p class="timeRefDays">days</p>
						</div>
						<div class="countdown_part">
							<h1 class="hours">00</h1>
							<p class="timeRefHours">hours</p>
						</div>
						<div class="countdown_part">
							<h1 class="minutes">00</h1>
							<p class="timeRefMinutes">minutes</p>
						</div>
						<div class="countdown_part last">
							<h1 class="seconds">00</h1>
							<p class="timeRefSeconds">seconds</p>
						</div>
					</div> -->
					<!-- //Timer -->
					
					
<!-- 					<h6>If you would like to be notified when the big day comes, <br class="hidden-xs">please leave your e-mail address below.</h6> -->
					
					
					<!-- Newsletter Form (put class="newsletter" in Homepage section if you want newsletter form to be shown)-->
<!-- 		  			<div class="newsletter_form">
		  				<form action="php/send.php" method="post" id="subscribe-form">
		  				<div class="input-field">
		  					<div data-icon="&#xe563;" class="prefix"></div>
			  				<input id="email" type="email" name="email" class="validate">
			  				<label for="email">Email address</label>	
			  			</div>
			  			<button class="btn waves-effect waves-light subscribe-submit" type="submit" name="action" id="subscribe-form-submit">Subscribe Now</button>
			  			</form>
			  			<div id="preview"></div>
		  			</div> -->
		  			<!-- //Newsletter form -->
			
			
				</div>		
			</div>  
			<!-- //Main content -->


			<!-- Mockups (put class="mockups" in Homepage section if you want mockups to be shown)-->
			<!-- /Mockup 1-->
			<div class="mockup mockup-right mockup-animation1">
			<img src="http://cl.ly/1n3t3K340d1e/back.png" alt="logo" /> <!-- back -->
			</div>
			<!-- //Mockup 1-->
			
			
			<!-- /Mockup 2-->
			<div class="mockup mockup-right mockup-animation2">
			<img src="http://cl.ly/1z3U0N1v0v3v/front.png" alt="logo" /> <!-- front -->
			</div>
			<!-- //Mockup 2-->
			
		
			
			
			<!-- Video Background -->
			<div id="maximage_video">
				<video autoplay="autoplay" loop="loop" muted="muted" width="896" height="504">
				    <source src="video/video.mp4" type="video/mp4" />
				    <source src="video/video.webm" type="video/webm" />
				    <source src="video/video.ogv" type="video/ogg" />
				</video>
			</div>
			<!-- //Video Background -->
			
			
			<!-- Slider Background -->
			<div id="maximage_slider">
				<img src="images/background_slider_01.jpg" alt=""/>
				<img src="images/background_slider_02.jpg" alt=""/>
				<img src="images/background_slider_03.jpg" alt=""/>
				<img src="images/background_slider_04.jpg" alt=""/>
			</div>
			<!-- //Slider Background -->
			
			
			<!-- Single Image Background -->
			<div id="maximage_single">
				<img src="images/home_background_01.jpg" alt=""/>
			</div>
			<!-- //Single Image Background -->
			
			
		</section><!-- //Homepage -->
		
		











<!-- Fullscreen homepage -->
		<section class="hero_fullscreen newsletter timer mockups background_solid"><!-- You can edit classes of this section to control the content that i displayed and backgrounds of this section, more info in documentation. -->
			
			
			<!-- Logo and navigation -->
		  	<div class="container top_bar" >
		  		<div class="row">
		  			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		  			<img src="http://cl.ly/3B0Z2F1a3G1K/logo-v4.png" alt="logo" class="logo" style="width: 200px;"/>
		  			<span style="margin-left: 15px; position: absolute; bottom: 50px; font-size: 35px; color: #48494A; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 300;">
		  				MEIA ENTRADA PARA <span style="color: #cc2127;font-size: 38px; font-weight: bold;">TODOS</span>,
		  			</span>
		  			<span style="margin-left: 15px; position: absolute; bottom: 10px; font-size: 35px; color: #48494A; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 300;">
		  				SEM EXCEÇÃO
		  			</span>
		  			<nav class="navigation_desktop">
		  				<ul>
		  					<li><a href="#more_info" id="more_info_btn" class="btn-flat waves-effect waves-light" style="background-color:rgba(255, 255, 255, .3); font-size: 20px;">Mais informações</a></li>
		  				</ul>
		  			</nav>
		  			</div>
		  		</div>
			</div>
			<!-- //Logo and navigation -->
			
			
			<!-- Main content -->
		  	<div class="container align-left" id="main_content" style="padding-left: 6px;">
				<div class="content_container row" style="width: 100%">

					<div class="mdl-grid">

					  <!-- <div class="mdl-cell mdl-cell--6-col">
					  	<img src="http://cl.ly/3Q1b3u2l1X40/tickets-3.png">
					  </div> -->

					 <div class="mdl-cell mdl-cell--6-col">

					 <div style="background-color: rgba(255, 255, 255, 0.2); border-radius: 20px; text-align: center;">
							<img src="http://cl.ly/2o2L2h2r1K1t/ingresso-red-01.png" style="width: 55%; margin-top: 40px; margin-bottom: 17px;" class="rotate-ticket">

						  	<div>
						  		<br>
						  		<div style="margin: auto; width: 60%; text-align: center; font-size: 21px; color: #48494A; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 500;">Válido todos os dias e horários, exceto salas 3D, XD, Prime e DBox</div>
						  		<br>
						  		<div style="margin: auto; width: 90%; text-align: center; font-size: 21px; color: #48494A; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 500; opacity: 0.85;">
						  			<span style="font-size: 18px; font-weight: 300;">Valor original - </span>
						  			<span  style="font-size: 22px; text-decoration: line-through; font-weight: 400;">R$ 33,00 </span>
						  			<span  style="font-size: 15px; font-weight: 300;">+ 5,88 (Operação)</span>
						  		</div>
						  		<br>
						  		<div style="margin: auto; width: 90%; text-align: center; font-size: 21px; color: #48494A; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 500;">
						  			<span style="font-size: 24px; font-weight: 400;">Valor QueroMeia - </span>
						  			<span  style="font-size: 28px; font-weight: 900; color: #cc2127">R$ 16,00 </span>
						  			<span  style="font-size: 18px; font-weight: 400;">+ 5,00 (Operação)</span>
						  		</div>
						  	
								<div class="mdl-grid">
								  <div class="mdl-cell mdl-cell--3-col"></div>
								  <div class="mdl-cell mdl-cell--6-col">
								  	<button class="btn waves-effect waves-light buy-buttom" type="submit" name="action" style="width: 100%; height: 60px; font-size: 22px;">COMPRAR
								  	</button>
								  </div>
								  <div class="mdl-cell mdl-cell--3-col"></div>
								</div>
							</div>

						</div>

					  </div>

					  <div class="mdl-cell mdl-cell--6-col">

						<div style="background-color: rgba(255, 255, 255, 0.2); border-radius: 20px; text-align: center;">
							  <img src="http://cl.ly/0L3d042X2J1s/ingresso-gold-01.png" style="width: 55%; margin-top: 40px; margin-bottom: 17px;" class="rotate-ticket">

							  	<div>
							  		<br>
							  		<div style="margin: auto; width: 60%; text-align: center; font-size: 21px; color: #48494A; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 500;">Válido todos os dias e horários, exceto salas Prime e DBox</div>
							  		<br>
							  		<div style="margin: auto; width: 90%; text-align: center; font-size: 21px; color: #48494A; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 500; opacity: 0.85;">
							  			<span style="font-size: 18px; font-weight: 300;">Valor original - </span>
							  			<span  style="font-size: 22px; text-decoration: line-through; font-weight: 400;">R$ 42,00 </span>
							  			<span  style="font-size: 15px; font-weight: 300;">+ 5,88 (Operação)</span>
							  		</div>
							  		<br>
							  		<div style="margin: auto; width: 90%; text-align: center; font-size: 21px; color: #48494A; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 500;">
							  			<span style="font-size: 24px; font-weight: 400;">Valor QueroMeia - </span>
							  			<span  style="font-size: 28px; font-weight: 900; color: #cc2127">R$ 21,00 </span>
							  			<span  style="font-size: 18px; font-weight: 400;">+ 5,00 (Operação)</span>
							  		</div>
							  	
									<div class="mdl-grid">
									  <div class="mdl-cell mdl-cell--3-col"></div>
									  <div class="mdl-cell mdl-cell--6-col">
									  	<button class="btn waves-effect waves-light buy-buttom" type="submit" name="action" style="width: 100%; height: 60px; font-size: 22px;">COMPRAR
									  	</button>
									  </div>
									  <div class="mdl-cell mdl-cell--3-col"></div>
									</div>
								</div>
							  </div>
						</div>

					</div>

				</div>
			</div>

			<div class="mdl-grid">
			  <div class="mdl-cell mdl-cell--2-col"></div>
			  <div class="mdl-cell mdl-cell--8-col" style="background-color: rgba(255, 255, 255, 0.2); border-radius: 7px; text-align: center; padding: 10px;">
			  	<span style=" font-size: 17px; color: #48494A; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 400;">
			  	* Os vouchers aqui vendidos são válidos apenas para troca no site 
			  	</span>
			  	<span style=" font-size: 17px; color: #cc2127; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 900;">
			  	Ingresso.com
			  	</span>
			  	<span style=" font-size: 17px; color: #48494A; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 400;">
			  	. Ele não são válidos para resgate na bilheteria.
			  	</span>
			  </div>
			  <div class="mdl-cell mdl-cell--2-col"></div>
			</div>
			<!-- //Main content -->
			
		</section><!-- //Homepage -->
		









































		<!-- More info -->
		<section id="more_info">
			<div class="container">
							<!-- Social Icons -->
			<div class="container">
				<div class="social_icons_container align-left">
				  	<div class="social_icons">
		                <ul>
		                    <li><div data-icon="&#xe282;" class="social_icon twitter_icon" onclick="location.href='#'"></div></li>
		                    <li><div data-icon="&#xe281;" class="social_icon facebook_icon" onclick="location.href='#'"></div></li>
		                    <li><div data-icon="&#xe279;" class="social_icon linkdin_icon" onclick="location.href='#'"></div></li>
		                    <li><div data-icon="&#xe27f;" class="social_icon dribbble_icon" onclick="location.href='#'"></div></li>
		                </ul>
				    </div>
			    </div>
			</div>
			<!-- //Social Icons -->
				<div class="row">
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
					<h3>Como funciona?</h3>
					<p>Você compra seu voucher no QueroMeia.com. Esse voucher vale como uma entrada comum (não de estudante) no site Ingresso.com.</p>
					<p>Os vouchers QueroMeia.com são válidos para qualquer pessoa, seja estudante ou não, e custam o mesmo que uma meia entrada !</p>
					
					<ul class="icon_list">
						<li><img src="http://cl.ly/460q121K1W3d/money%20(1).svg" class="icon_small float-left" style="width: 60px; margin: 2px; margin-right: 15px;">
							<h6>Cartão de crédito MasterCard</h6>
						</li>
						<li><img src="http://cl.ly/3a191A3N3c0A/symbols.svg" class="icon_small float-left" style="width: 60px; margin: 2px; margin-right: 15px;">
							<h6>Cartão de crédito Visa</h6>
						</li>
						<li><img src="http://cl.ly/1C1g0V0T1V0f/money%20(2).svg" class="icon_small float-left" style="width: 60px; margin: 2px; margin-right: 15px;">
							<h6>Pagamento via PayPal</h6>
						</li>
					</ul>
					
					<p>Compre seus ingressos com Paypal, a melhor e mais segura ferramenta de pagamento online do mundo!</p>	
					</div>
					
					<!-- Contact Form Section -->
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
						<h3>Entre em contato</h3>
						<p>Você pode utilar o formulário abaixo ou nos contactar via e-mail em: <a href="contato@queromeia.com">contato@queromeia.com</a>.</p>
					
					
						<!-- Contact Form -->
						<form action="php/contactform.php" id="contact-form" method="post">
							<div class="contact_form">
								<div class="input-field">
					  				<input id="first_name" type="email" name="contact-name">
					  				<label for="first_name">Nome</label>
					  			</div>
					  			<div class="input-field">
					  				<input id="contact_email" type="email" name="contact-email">
					  				<label for="contact_email">E-mail</label>
					  			</div>
					  			<div class="input-field">
						  			<textarea class="materialize-textarea" name="contact-message"></textarea>
						  			<label>Mensagem</label>
						  		</div>
				  			</div>	
				  			<button class="btn waves-effect waves-light" type="submit" name="action">Enviar</button>
						</form>
						<!-- //Contact Form -->
					
					
						<div id="message"><div id="alert"></div></div><!-- Message container --> 
					</div>
					<!-- //Contact Form Section -->
					

				</div>				
			</div>
		</section><!-- //More info -->

	
	</div><!-- //preloader -->

   
	<!-- JavaScript plugins comes here -->	
    <script src="js/jquery-2.1.3.min.js"></script>        <!-- jQuery -->
    <script src="js/jquery.easing.min.js"></script>       <!-- jQuery easing -->    
    <script src="js/jquery.scrollTo.js"></script>         <!-- Scroll to -->
    <script src="js/jquery.cycle.all.min.js"></script>    <!-- jQuery cycle -->
    <script src="js/jquery.form.js"></script>    		  <!-- jQuery form -->
    <script src="js/jquery.maximage.min.js"></script>     <!-- MaxImage background image slideshow -->
    <script src="js/materialize.js"></script>     		  <!-- Materialize -->
    <script src="js/classie.js"></script>                 <!-- Class helper function -->
	<script src="js/pathLoader.js"></script>              <!-- Preloader Loading Animation -->
	<script src="js/preloader.js"></script>               <!-- Preloader -->
    <script src="js/count_down.js"></script>              <!-- Count Down Timer -->
    <script src="js/happy.js"></script>                   <!-- Newsletter form validation -->
    <script src="js/happy.methods.js"></script>           <!-- Newsletter form validation -->
    <script src="js/retina.js"></script>                  <!-- Retina.js - support for HiDPI Displays -->
    <script src="js/main.js"></script>                    <!-- Main Js file -->
    
    
    <!-- Show message after newsletter form submit -->
	<script type="text/javascript">
        $('document').ready(function()
            {
            $('#subscribe-form').ajaxForm( {
                target: '#preview',
                success: function() {       
                      $('#preview').addClass( "show_message" );
                    }
                });
            });

		function enable_buttom() {
			$(".buy-buttom").css("z-index", "1000");
		};
		setTimeout(enable_buttom, 3000)
    </script>
    
  </body>
</html>