<!DOCTYPE html>
<html>
  <head>
  	<meta name="Description" content="Com QueroMeia.com você compra entradas de cinema com desconto de 50%! É isso mesmo, não precisa ser estudante ou idoso. Entre e confira!" />
  	<meta name="Keywords" content="meia entrada, ingresso, cinema, desconto ingresso" />
  	<meta name="title" content="QueroMeia.com compre ingressos com desconto">
	<title>QueroMeia</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
	
	<!-- Included Google Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100' rel='stylesheet' type='text/css'>
	
	<!-- CSS Files comes here -->
	<link rel="shortcut icon" type="image/png" href="https://s3-sa-east-1.amazonaws.com/elements-queromeia/logo/icon.png"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
	<script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
	<link href="https://s3-sa-east-1.amazonaws.com/queromeia/grid12.css" rel="stylesheet" media="screen">                              	 <!-- Grid System -->
	<link href="https://s3-sa-east-1.amazonaws.com/queromeia/james_typography.css" rel="stylesheet" media="screen">                       <!-- James Framework - TYPOGRAPHY -->
	<link href="https://s3-sa-east-1.amazonaws.com/queromeia/main.css" rel="stylesheet" media="screen">                                   <!-- Main CSS file -->
	<link href="https://s3-sa-east-1.amazonaws.com/queromeia/color_scheme_dark.css" rel="stylesheet" media="screen">                      <!-- Color scheme (dark/light)-->
	<link href="https://s3-sa-east-1.amazonaws.com/queromeia/colors/color_palette_lime.css" rel="stylesheet" media="screen">              <!-- Color palette -->
	<link href="https://s3-sa-east-1.amazonaws.com/queromeia/rapid-icons.css" rel="stylesheet" media="screen">                            <!-- James Framework - ICONS -->
	<link href="https://s3-sa-east-1.amazonaws.com/queromeia/js_styles/jquery.maximage.min.css" rel="stylesheet" media="screen">          <!-- MaxImage background image slideshow -->
	<link href="https://s3-sa-east-1.amazonaws.com/queromeia/responsivity.css" rel="stylesheet" media="screen">                           <!-- Responsive Fixes -->
	
	<!-- Modernizer and IE specyfic files -->  
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<style type="text/css">
		.spinner {
		  width: 40px;
		  height: 40px;
		  background-color: #221d1f;

		  margin: 12px auto;
		  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
		  animation: sk-rotateplane 1.2s infinite ease-in-out;
		}

		@-webkit-keyframes sk-rotateplane {
		  0% { -webkit-transform: perspective(120px) }
		  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
		  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
		}

		@keyframes sk-rotateplane {
		  0% { 
		    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
		  } 50% { 
		    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
		  } 100% { 
		    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		  }
		}
		.hero_fullscreen.background_solid{
			background-color: #FFF;
			padding-top: 0.2rem;
		}
		.btn, .btn-large {
		    background-color:#eec92c;
		}
		a{
			color: #eec92c;
		}
		#main_content {
		    display: table;
		    overflow: hidden;
		    height: 50%;
		    margin-top: 4%;
		}
		.rotate-ticket{
			-ms-transform: rotate(-10deg); /* IE 9 */
		    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
		    transform: rotate(-10deg);
		}
		.btn, .btn-large, .btn-flat{
			margin-bottom: 0px;
		}
		.button-container{
			text-align: center;
		}
		.number-box{
		    border-style: solid;
		    border-color: #221d1f;
		    border-width: 5px;
		    text-align: center;
		    background-color: #eec92c;
		    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		    width: 55%;
		    float: right;
		}
		.text-box{
		    border-style: solid;
		    border-color: #221d1f;
		    border-width: 5px;
		    text-align: center;
		    background-color: #f3f3f3;
		    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		    width: 90%;
		    float: left;
		    padding: 5px;
		}
		.number{
			color: #221d1f;
			font-family: 'Roboto','Helvetica','Arial',sans-serif;
			font-weight: 800;
			font-size: 40px;
		}
		.text{
			color: #221d1f;
			font-family: 'Roboto','Helvetica','Arial',sans-serif;
			font-weight: 400;
			font-size: 21px;
		}
		.text-spacer{
			height: 25%;
		}
		.cell-special .mdl-cell{
			margin: 0px;
		}
		.mdl-cell{
			margin: 0px;
		}
		.spacer{
			height: 1.43em;
		}
		.header-properties{
			background-color: #fff; 
			-webkit-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1);
			box-shadow: 0 10px 6px -6px rgba(0, 0, 0, 0.1);
		}
		.logo{
			height: 80px;
		}
		.hero_fullscreen.background_solid{
			padding-top: 0px;
		}
		.group-one{
			position: relative;
			left: 1rem;
		}
		.group-two{
			position: relative;
		}
		.group-three{
			position: relative;
			right: 4rem;
		}
		.header-link{
			color: #221d1f;
			font-family: 'Roboto','Helvetica','Arial',sans-serif;
			font-weight: 400;
			font-size: 0.7rem;
			padding: 3px;
			padding-bottom: 0px;
		}
		.header-link-menu{
			text-align: center;
		}
		.header-line-menu{
			border-bottom: 2px solid;
    		border-bottom-color: #eec92c;
    		border-bottom-left-radius: 0px;
    		border-bottom-right-radius: 0px;
    		width: 88%;
			margin: auto;
		}
		.spacer-header-menu{
			height: 2.4em;
		}
		.buy-buttom{
			box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18), 0 4px 12px 0 rgba(0, 0, 0, 0.15);
		}
		#cta-button{
			opacity: 0;
		}
		.rotate-ticket{
			-ms-transform: rotate(-10deg); /* IE 9 */
		    -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
		    transform: rotate(-10deg);
		}
		.product-container{
			text-align: center;
		}
		.text-box-2{
		    border-style: solid;
		    border-color: #221d1f;
		    border-width: 5px;
		    text-align: center;
		    background-color: #f3f3f3;
		    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		    width: 90%;
		    padding: 5px;
		    margin: auto;
		}
		.text-box-3{
		    border-style: solid;
		    border-color: #221d1f;
		    border-width: 5px;
		    text-align: center;
		    background-color: #f3f3f3;
		    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		    width: 90%;
		    padding: 5px;
		    margin-left: 4.5%;
		}
		.product-spacer{
			height: 10px;
		}
		.buy-butom-paypal{
			box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18), 0 4px 12px 0 rgba(0, 0, 0, 0.15);
		    border-radius: 1px;
		}
		.error-spacer{
			height: 50px;
		}
		.social-icon{
			width: 30px;
			border-radius: 6px;
		}
		@-moz-document url-prefix(){
			#main_content{
				margin-top: 2rem;
			}
			.mockup img{
				width: 26rem;
				margin-top: 5rem;
				right: 7rem;
			}
		}
	</style>
  </head>
  
<script type="text/javascript">
	if (screen.width <= 699) {
		url = window.location.protocol + '//m.queromeia.com';
		window.location.replace(url);
	}
</script>

  <body>
	<div id="preloader_container">
	    
	    <!-- Preloader Screen -->
		<header class="preloader_header">	 
	        <div class="preloader_loader">
	            <svg class="preloader_inner" width="60px" height="60px" viewBox="0 0 80 80">
	                <path class="preloader_loader_circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
	                <path id="preloader_loader_circle" class="preloader_loader_circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
	            </svg>
	        </div>
	    </header>
	    <!-- //Preloader Screen -->
	
	
		<!-- Fullscreen homepage -->
		<section class="hero_fullscreen newsletter timer mockups background_solid" style="background: url('https://s3-sa-east-1.amazonaws.com/elements-queromeia/background/background-v3.png') center 30% no-repeat; background-size: cover;"><!-- You can edit classes of this section to control the content that i displayed and backgrounds of this section, more info in documentation. -->
			
			<!-- Logo and navigation -->
			<div class="header-properties">
			  	<div class="container top_bar" >
			  		<div class="mdl-grid" style="padding-bottom: 4px;">
					  <div class="mdl-cell mdl-cell--4-col">
					  	<a href="{% url 'index' %}"><img style="margin-top: 2%;" src="https://s3-sa-east-1.amazonaws.com/elements-queromeia/logo/logo-line.png" alt="logo" class="logo"/></a>
					  </div>

					  <div class="mdl-cell mdl-cell--8-col">
					  	<div class="mdl-grid">
						  <div class="mdl-cell mdl-cell--3-col">
						  	<div class="spacer-header-menu"></div>
						  	<div class="button-container">
						  		<div class="header-link-menu">
						  			<a id="header-buy" href="/" class="btn-flat waves-effect waves-light header-link">Comprar</a>
						  		</div>
						  		<div class="header-line-menu"></div>
						  	</div>
						  </div>
						  <div class="mdl-cell mdl-cell--3-col">
						  	<div class="spacer-header-menu"></div>
						  	<div class="button-container">
						  		<div class="header-link-menu">
						  			<a href="/my-codes/" id="more_info_btn2" class="btn-flat waves-effect waves-light header-link">Esqueceu seu código?</a>
						  		</div>
						  		<div class="header-line-menu"></div>
						  	</div>
						  </div>
						  <div class="mdl-cell mdl-cell--3-col">
						  	<div class="spacer-header-menu"></div>
						  	<div class="button-container">
						  		<div class="header-link-menu">
						  			<a href="#more_info" id="more_info_btn" class="btn-flat waves-effect waves-light header-link">Contato</a>
						  		</div>
						  		<div class="header-line-menu"></div>
						  	</div>
						  </div>
						  <div class="mdl-cell mdl-cell--3-col">
						  	<div class="spacer-header-menu"></div>
						  	<div>
						  		<div class="header-link-menu">
						  			<a href="/how-it-works/" id="more_info_btn2" class="btn-flat waves-effect waves-light header-link">Como funciona</a>
						  		</div>
						  		<div class="header-line-menu"></div>
						  	</div>
						  </div>
					  	</div>
					  </div>

					</div>
				</div>
			</div>
			<!-- //Logo and navigation -->
			
			<!-- Main content -->
			<div id="home-content">
			  	<div class="container align-left" id="main_content" style="padding-left: 6px;">
					<div class="content_container row" style="width: 100%">
					
						<div style="min-height: 400px; background-repeat: no-repeat;">

							<div class="mdl-grid">
								<div class="mdl-cell mdl-cell--9-col cell-special">
								
									<div class="mdl-grid group-one" style="padding: 0px;">
										<div class="mdl-cell mdl-cell--2-col">
											<div class="number-box" style="">
												<div class="spacer"></div>
												<span class="number">
													1
												</span>
											</div>
										</div>
										<div class="mdl-cell mdl-cell--4-col">
										
										</div>
										<div class="mdl-cell mdl-cell--5-col">
										
										</div>
									</div>

									<div class="mdl-grid group-one" style="padding: 0px;">
										<div class="mdl-cell mdl-cell--2-col">
										</div>
										<div class="mdl-cell mdl-cell--7-col">

											<div class="text-box" style="">
												<div class="text-spacer"></div>
												<span class="text">
													Compre seu ingresso Cinemark no <span style="font-weight: 600; color: #221d1f">QUERO</span><span style="font-weight: 600; color: #eec92c;">MEIA</span><span style="font-weight: 600;">.com</span> pagando meia entrada
												</span>
											</div>

										</div>
										<div class="mdl-cell mdl-cell--2-col">
										
										</div>
									</div>

									<div class="mdl-grid group-two" style="padding: 0px;">
										<div class="mdl-cell mdl-cell--6-col">

										</div>
										<div class="mdl-cell mdl-cell--4-col">
										
										</div>
										<div class="mdl-cell mdl-cell--2-col">

											<div class="number-box" style="float: left;">
												<div class="spacer"></div>
												<span class="number">
													2
												</span>
											</div>
										
										</div>
									</div>

									<div class="mdl-grid group-two" style="padding: 0px;">
										<div class="mdl-cell mdl-cell--3-col">
										</div>
										<div class="mdl-cell mdl-cell--7-col">

											<div class="text-box" style="float: right;">
												<div class="text-spacer"></div>
												<span class="text">
													Após o pagamento, você receberá um voucher promocional
												</span>
											</div>

										</div>
										<div class="mdl-cell mdl-cell--2-col">
										
										</div>
									</div>


									<div class="mdl-grid group-three" style="padding: 0px;">
										<div class="mdl-cell mdl-cell--2-col">

											<div class="number-box" style="">
												<div class="spacer"></div>
												<span class="number">
													3
												</span>
											</div>
										
										</div>
										<div class="mdl-cell mdl-cell--7-col">
										
										</div>
										<div class="mdl-cell mdl-cell--3-col">

										</div>
									</div>

									<div class="mdl-grid group-three" style="padding: 0px;">
										<div class="mdl-cell mdl-cell--2-col">
										
										</div>
										<div class="mdl-cell mdl-cell--7-col">

											<div class="text-box" style="">
												<div class="text-spacer"></div>
												<span class="text">
													Escolha sua sessão no site do <span style="font-weight: 600;">Cinemark</span> e use seu voucher <span style="font-weight: 600; color: #221d1f">QUERO</span><span style="font-weight: 600; color: #eec92c;">MEIA</span>
												</span>
											</div>

										</div>
										<div class="mdl-cell mdl-cell--2-col">
										</div>
									</div>

								</div>
								<div class="mdl-cell mdl-cell--3-col"></div>
							</div>

						</div>

						<div class="mdl-grid" style="margin-top: 1.5rem;">
						  <div class="mdl-cell mdl-cell--9-col">
							<div class="mdl-grid">
							  <div class="mdl-cell mdl-cell--3-col"></div>
							  <div class="mdl-cell mdl-cell--6-col">
							  	<button id="cta-button" class="btn waves-effect waves-light buy-buttom" type="submit" name="action" style="width: 60%; background-color:#eec92c; height: 60px;">
							  		<div style="height: 0.5em;"></div>
							  		<span style="color: #221d1f; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 900; font-size: 28px;">QUERO</span><span style="color: #221d1f; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 300; font-size: 28px;">MEIA!</span>
							  	</button>
							  </div>
							  <div class="mdl-cell mdl-cell--3-col"></div>
							</div>
						  </div>
						  <div class="mdl-cell mdl-cell--3-col"></div>
						</div>
				
					</div>		
				</div>  
			</div>
			<!-- //Main content -->


			<!-- Buy content -->
			<div id="buy-content" style="display: none;">
				<div class="product-spacer"></div>

				<div style="margin:auto; width: 1170px;">
					<div class="mdl-grid">
					  <div class="mdl-cell mdl-cell--6-col product-container">

					  	<div class="text-box-2" id="1">
					  		<img src="https://s3-sa-east-1.amazonaws.com/elements-queromeia/ingresso-red-01.png" style="width: 55%; margin-top: 30px; margin-bottom: 17px;" class="rotate-ticket">
					  		<br><br>
					  		<div style="margin: auto; width: 90%; text-align: center; font-size: 21px; color: #221d1f; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 800; margin-bottom: 6px;">
					  			01 Ingresso RED - Filmes 2D
					  		</div>
					  		<div style="margin: auto; width: 90%; text-align: center; font-size: 18px; color: #221d1f; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 300;">
					  			Válido todos os dias e horários
					  		</div>
					  		<div style="margin: auto; width: 90%; text-align: center; font-size: 18px; color: #221d1f; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 300;">
								Válido apenas para sessões 2D.
					  		</div>
					  		<br>
					  		<div style="margin: auto; width: 90%; text-align: center; font-size: 21px; color: #221d1f; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 500; opacity: 0.85; margin-bottom: 4px;">
					  			<div style="width: 40%; margin: auto; border-style: solid; border-color: #221d1f; border-width: 2px; border-radius: 2px;">
						  			<span style="font-size: 15px; font-weight: 300;">
						  				Valor <span style="font-size: 15px; font-weight: 600;">ingresso.com </span>:
						  			</span>
						  			<div>
							  			<span style="font-size: 15px; text-decoration: line-through; font-weight: 400;">R$33,00 </span>
							  			<span style="font-size: 13px; font-weight: 300;">+ 5,88</span>
						  			</div>
					  			</div>
					  		</div>
					  		<br>
					  		<div style="margin: auto; width: 95%; text-align: center; font-size: 21px; color: #221d1f; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 500;">
					  			<span style="font-size: 22px; font-weight: 400;">Valor QueroMeia - </span>
					  			<span style="font-size: 28px; font-weight: 900; color: #cc2127">R$16,00 </span>
					  			<span style="font-size: 16px; font-weight: 400;">+ 5,00 (Operação)</span>
					  		</div>
					  		<br>
							<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_xclick">
								<input type="hidden" name="business" value="{{email_receiver}}">
								<input type="hidden" name="lc" value="BR">
								<input type="hidden" name="item_name" value="Ingresso - QueroMeia Red">
								<input type="hidden" name="item_number" value="1">
								<input type="hidden" name="amount" value="{{value}}">
								<input type="hidden" name="currency_code" value="BRL">
								<input type="hidden" name="button_subtype" value="products">
								<input type="hidden" name="no_note" value="0">
								<input type="hidden" name="tax_rate" value="0.000">
								<input type="hidden" name="shipping" value="0.00">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
								<input type="hidden" name="notify_url" value="notify_url">
								<input type="hidden" name="return" value="{{hash_id}}">
								<input type="hidden" name="custom" value="{{hash_id}}">
								<input class="buy-butom-paypal" type="image" style="width: 50%; height: 60px; font-size: 22px; z-index: 1000;" src="https://s3-sa-east-1.amazonaws.com/elements-queromeia/comprar-buttom.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
								<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
							</form>
							<div class="spinner" style="display: none"></div>
							<img style="margin: 10px;" src="https://www.paypal-brasil.com.br/novologocenter/img/paypal/botao-checkout_horizontal_paguecomseguranca_pb.png">
							<br>
					  	</div>

					  </div>
					  <div class="mdl-cell mdl-cell--6-col product-container">

					  	<div class="text-box-2" id="2">
					  		<img src="https://s3-sa-east-1.amazonaws.com/elements-queromeia/ingresso-gold-01.png" style="width: 55%; margin-top: 30px; margin-bottom: 17px;" class="rotate-ticket">
					  		<br><br>
					  		<div style="margin: auto; width: 90%; text-align: center; font-size: 21px; color: #221d1f; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 800; margin-bottom: 6px;">
					  			01 Ingresso GOLD - Filmes 3D
					  		</div>
					  		<div style="margin: auto; width: 90%; text-align: center; font-size: 18px; color: #221d1f; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 300;">
					  			Válido todos os dias e horários
					  		</div>
					  		<div style="margin: auto; width: 90%; text-align: center; font-size: 18px; color: #221d1f; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 300;">
								Válido para sessões 3D, 2D e XD.
					  		</div>
					  		<br>
					  		<div style="margin: auto; width: 90%; text-align: center; font-size: 21px; color: #221d1f; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 500; opacity: 0.85; margin-bottom: 4px;">
					  			<div style="width: 40%; margin: auto; border-style: solid; border-color: #221d1f; border-width: 2px; border-radius: 2px;">
						  			<span style="font-size: 15px; font-weight: 300;">
						  				Valor <span style="font-size: 15px; font-weight: 600;">ingresso.com </span>:
						  			</span>
						  			<div>
							  			<span style="font-size: 15px; text-decoration: line-through; font-weight: 400;">R$42,00 </span>
							  			<span style="font-size: 13px; font-weight: 300;">+ 5,88</span>
						  			</div>
					  			</div>
					  		</div>
					  		<br>
					  		<div style="margin: auto; width: 95%; text-align: center; font-size: 21px; color: #221d1f; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 500;">
					  			<span style="font-size: 22px; font-weight: 400;">Valor QueroMeia - </span>
					  			<span style="font-size: 28px; font-weight: 900; color: #cc2127">R$21,00 </span>
					  			<span style="font-size: 16px; font-weight: 400;">+ 5,00 (Operação)</span>
					  		</div>
							<br>
							<form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
								<input type="hidden" name="cmd" value="_xclick">
								<input type="hidden" name="business" value="{{email_receiver}}">
								<input type="hidden" name="lc" value="BR">
								<input type="hidden" name="item_name" value="Ingresso - QueroMeia Gold">
								<input type="hidden" name="item_number" value="1">
								<input type="hidden" name="amount" value="{{value2}}">
								<input type="hidden" name="currency_code" value="BRL">
								<input type="hidden" name="button_subtype" value="products">
								<input type="hidden" name="no_note" value="0">
								<input type="hidden" name="tax_rate" value="0.000">
								<input type="hidden" name="shipping" value="0.00">
								<input type="hidden" name="add" value="1">
								<input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
								<input type="hidden" name="notify_url" value="notify_url">
								<input type="hidden" name="return" value="{{hash_id2}}">
								<input type="hidden" name="custom" value="{{hash_id2}}">
								<input class="buy-butom-paypal" type="image" style="width: 50%; height: 60px; font-size: 22px; z-index: 1000;" src="https://s3-sa-east-1.amazonaws.com/elements-queromeia/comprar-buttom.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
								<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
							</form>
							<div class="spinner" style="display: none"></div>
							<img style="margin: 10px;" src="https://www.paypal-brasil.com.br/novologocenter/img/paypal/botao-checkout_horizontal_paguecomseguranca_pb.png">
							<br>
					  	</div>
					  	
					  </div>
					</div>
				</div>

				<div style="margin:auto; width: 1170px; margin-top: 20px;">
					<div class="mdl-grid">

						<div class="mdl-cell mdl-cell--12-col product-container">
							<div class="text-box-3">
								
							  	<span style=" font-size: 17px; color: #221d1f; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 400;">
							  	* Os vouchers aqui vendidos são válidos apenas para troca no site
							  	</span>
							  	<a href="http://www.ingresso.com/" target="_blank" style=" font-size: 17px; color: #eec92c; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 900;">
							  	Ingresso.com
							  	</a>
							  	<span style=" font-size: 17px; color: #221d1f; font-family: 'Roboto','Helvetica','Arial',sans-serif; font-weight: 400;">
							  	. Eles não são válidos para resgate na bilheteria.
							  	</span>

							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- //Buy content -->

			<!-- Mockups (put class="mockups" in Homepage section if you want mockups to be shown)-->
			<!-- /Mockup 1-->
			<div class="mockup mockup-right mockup-animation1">
			<img src="https://s3-sa-east-1.amazonaws.com/elements-queromeia/back.png" alt="logo" /> <!-- back -->
			</div>
			<!-- //Mockup 1-->
			
			
			<!-- /Mockup 2-->
			<div class="mockup mockup-right mockup-animation2">
			<img src="https://s3-sa-east-1.amazonaws.com/elements-queromeia/front.png" alt="logo" /> <!-- front -->
			</div>
			<!-- //Mockup 2-->

			
			
		</section><!-- //Homepage -->
		
		<!-- More info -->
		<section id="more_info">
			<div class="container">
			<!-- Social Icons -->
			<div class="container">
				<div class="social_icons_container align-left">
				  	<div class="social_icons">
		                <ul>
		                    <li>
		                    	<a href="#">
		                    		<img src="https://s3-sa-east-1.amazonaws.com/elements-queromeia/icon+(1).svg" class="social-icon">
		                    	</a>
		                    </li>
		                    <li>
		                    	<a href="#">
		                    		<img src="https://s3-sa-east-1.amazonaws.com/elements-queromeia/social-network.svg"  class="social-icon">
		                    	</a>
		                    </li>
		                </ul>
				    </div>
			    </div>
			</div>

			<!-- //Social Icons -->
				<div class="row">
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
					<h3>Como funciona?</h3>
					<p>Você compra seu voucher no QueroMeia.com. Esse voucher vale como uma entrada inteira (não de estudante) no site Ingresso.com para qualquer unidade da rede Cinemark.</p>
					<p>Os vouchers QueroMeia.com são válidos para qualquer pessoa, seja estudante ou não, e custam <span style="font-weight: 800;">o mesmo que uma meia entrada !</span></p>
					
					<ul class="icon_list">
						<li><img src="http://cl.ly/460q121K1W3d/money%20(1).svg" class="icon_small float-left" style="width: 60px; margin: 2px; margin-right: 15px;">
							<h6>Cartão de crédito MasterCard</h6>
						</li>
						<li><img src="http://cl.ly/3a191A3N3c0A/symbols.svg" class="icon_small float-left" style="width: 60px; margin: 2px; margin-right: 15px;">
							<h6>Cartão de crédito Visa</h6>
						</li>
						<li><img src="http://cl.ly/1C1g0V0T1V0f/money%20(2).svg" class="icon_small float-left" style="width: 60px; margin: 2px; margin-right: 15px;">
							<h6>Pagamento via PayPal</h6>
						</li>
					</ul>
					
					<p>Compre seus ingressos com Paypal, a melhor e mais segura ferramenta de pagamento online do mundo!</p>	
					</div>
					
					<!-- Contact Form Section -->
					<div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
						<h3>Entre em contato</h3>
						<p>Você pode utilizar o formulário abaixo ou nos contactar via e-mail em: <a href="#">atendimento@queromeia.com</a></p>
					
					
						<!-- Contact Form -->
						<form action="/contact-form/" id="contact-form" method="post">
							{% csrf_token %}
							<div class="contact_form">
								<div class="input-field">
					  				<input id="first_name" type="text" name="contact-name">
					  				<label for="first_name">Nome</label>
					  			</div>
					  			<div class="input-field">
					  				<input id="contact_email" type="email" name="contact-email">
					  				<label for="contact_email">E-mail</label>
					  			</div>
					  			<div class="input-field">
						  			<textarea class="materialize-textarea" name="contact-message"></textarea>
						  			<label>Mensagem</label>
						  		</div>
				  			</div>	
				  			<button class="btn waves-effect waves-light" type="submit" name="action" id="contact-form-button">Enviar</button>
						</form>
						<!-- //Contact Form -->
					
					
						<div id="message"><div id="alert"></div></div><!-- Message container --> 
					</div>
					<!-- //Contact Form Section -->
					

				</div>				
			</div>
		</section><!-- //More info -->

	
	</div><!-- //preloader -->

   
	<!-- JavaScript plugins comes here -->	
    <script src="https://s3-sa-east-1.amazonaws.com/queromeia/js/jquery-2.1.3.min.js"></script>        <!-- jQuery -->
    <script src="https://s3-sa-east-1.amazonaws.com/queromeia/js/jquery.easing.min.js"></script>       <!-- jQuery easing -->    
    <script src="https://s3-sa-east-1.amazonaws.com/queromeia/js/jquery.scrollTo.js"></script>         <!-- Scroll to -->
    <script src="https://s3-sa-east-1.amazonaws.com/queromeia/js/jquery.cycle.all.min.js"></script>    <!-- jQuery cycle -->
    <script src="https://s3-sa-east-1.amazonaws.com/queromeia/js/jquery.form.js"></script>    		  <!-- jQuery form -->
    <script src="https://s3-sa-east-1.amazonaws.com/queromeia/js/jquery.maximage.min.js"></script>     <!-- MaxImage background image slideshow -->
    <script src="https://s3-sa-east-1.amazonaws.com/queromeia/js/materialize.js"></script>     		  <!-- Materialize -->
    <script src="https://s3-sa-east-1.amazonaws.com/queromeia/js/classie.js"></script>                 <!-- Class helper function -->
	<script src="https://s3-sa-east-1.amazonaws.com/queromeia/js/pathLoader.js"></script>              <!-- Preloader Loading Animation -->
	<script src="https://s3-sa-east-1.amazonaws.com/queromeia/js/preloader.js"></script>               <!-- Preloader -->
    <script src="https://s3-sa-east-1.amazonaws.com/queromeia/js/count_down.js"></script>              <!-- Count Down Timer -->
    <script src="https://s3-sa-east-1.amazonaws.com/queromeia/js/happy.js"></script>                   <!-- Newsletter form validation -->
    <script src="https://s3-sa-east-1.amazonaws.com/queromeia/js/happy.methods.js"></script>           <!-- Newsletter form validation -->
    <script src="https://s3-sa-east-1.amazonaws.com/queromeia/js/retina.js"></script>                  <!-- Retina.js - support for HiDPI Displays -->
    <script src="https://s3-sa-east-1.amazonaws.com/queromeia/js/main.js"></script>                    <!-- Main Js file -->
    
    
    <!-- Show message after newsletter form submit -->
	<script type="text/javascript">

  	{% if availability1 %}
  	{% else %}
  	$("div #1").find(".buy-butom-paypal").attr("src", "https://s3-sa-east-1.amazonaws.com/elements-queromeia/unavailable-buttom.png");
  	$("div #1").find(".buy-butom-paypal").prop("disabled", true);
  	{% endif %}

  	{% if availability2 %}
  	{% else %}
  	$("div #2").find(".buy-butom-paypal").attr("src", "https://s3-sa-east-1.amazonaws.com/elements-queromeia/unavailable-buttom.png")
  	$("div #2").find(".buy-butom-paypal").prop("disabled", true);
  	{% endif %}

	var notify_url_fields = jQuery( "[name='notify_url']" );
	var url = window.location.host;
	var protocol = window.location.protocol;
	var url_notify;
	url_notify = protocol + '//' + url + '/paypal/';

	var i;
	for (i = 0; i < notify_url_fields.length; ++i) {
	    notify_url_fields[i].value =url_notify;
	}

	var return_url_fields = jQuery( "[name='return']" );
	var url_return;
	var hash_id_temp;
	url_return = protocol + '//' + url + '/success/';
	for (i = 0; i < return_url_fields.length; ++i) {
		hash_id_temp = return_url_fields[i].value;
	    return_url_fields[i].value = url_return + hash_id_temp + '/';
	}

	var url = window.location.host;
	var protocol = window.location.protocol;
	$("input").click(function() {
		var element = $(this).closest("div");
		element.find("form").css("display", "none");
		element.find(".spinner").css("display", "block");
	});

	var number_box_width
	var text_box_width
	var window_height

	window_height = $(".hero_fullscreen").width();
	$(".product-spacer").height(window_height/16 + 'px');

	number_box_width = $(".number-box").width();
	$(".number-box").height(number_box_width + 'px');

	text_box_width = $(".text-box").width();
	$(".text-box").height(text_box_width/5 + 'px');

	var FIREFOX = /Firefox/i.test(navigator.userAgent);

	if (FIREFOX) {
	  	window_height = $(".hero_fullscreen").width();
		$(".product-spacer").height(window_height/100 + 'px');

		number_box_width = $(".number-box").width();
		$(".number-box").height(number_box_width + 'px');

		text_box_width = $(".text-box").width();
		$(".text-box").height(text_box_width/7 + 'px');

		$(".text-spacer").height('11%');

		if(window_height > 1700){
			window_height = $(".hero_fullscreen").width();
			$(".product-spacer").height(window_height/16 + 'px');

			number_box_width = $(".number-box").width();
			$(".number-box").height(number_box_width + 'px');

			$(".text-spacer").height('21%');

			text_box_width = $(".text-box").width();
			$(".text-box").height(text_box_width/5 + 'px');
			$(".mockup img").width("31rem");
			$("#main_content").css("margin-top", "6rem");
		}
	}

    $('document').ready(function()
        {
        $('#subscribe-form').ajaxForm( {
            target: '#preview',
            success: function() {       
                  $('#preview').addClass( "show_message" );
                }
            });
        });

	function enable_buttom() {
		$(".buy-buttom").css("z-index", "1000");
		$("#cta-button").fadeTo(200, 1);
	};
	setTimeout(enable_buttom, 4500);

	function change_content() {
		$('#home-content').css("display", "none");
		$('.mockup-animation1').css("display", "none");
		$('.mockup-animation2').css("display", "none");
		$('#buy-content').css("display", "inline");
		$('#buy-content').find('*').css("opacity", "0");
		$('#buy-content').find('*').animate({ opacity: 1 }, 300);
	};

	function buy_content(){
		$('#home-content').fadeTo(300, 0);
		$('.mockup-animation1').fadeTo(300, 0);
		$('.mockup-animation2').fadeTo(300, 0);
		setTimeout(change_content, 320)
	};

	$("#header-buy").attr("href", "#");
	$("#header-buy").click(function(){
		buy_content();
	});

	$("#cta-button").click(function(){
		buy_content();
	});

	$("#contact-form-button").click(function(){
		var button = this;
		button.disabled = true;
		$("#contact-form-button").text("Sucesso");
	});

	var viewport = $(window).height();
	if (viewport < 850) {
		$(".hero_fullscreen").css("min-height", "880px");
	}

    </script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-76869824-1', 'auto');
	  ga('send', 'pageview');

	</script>
    
  </body>
</html>